<div class="row">
  <div class="col-auto">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Comment:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-comment">Comment:</label>
        <textarea class="form-input" id="blog-comment" name="blog-comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">CREATE</button>
      </div>
    </form>
  </div>

  {{#if comments.length}}
  <div class="col-md-6 blog-list">
    <h3>My Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment.comment}}</p>
      </div>
      
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button> 
    </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
