<!-- Loop over each object in the array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      <a href="./blog.handlebars">{{blog.title}}</a>
    </p> 
</div>
{{/each}}